<?xml version="1.0"?>
<launch>
  <!-- Command Line Arguments -->
  <arg name="sync_sink" default="true" />                   <!-- Synchronize the app sink. Setting this to false may resolve problems with sub-par framerates. -->
  <arg name="width" default="480" />                        <!-- Image Width -->
  <arg name="height" default="270" />                       <!-- Image Height -->
  <arg name="fps" default="30" />                           <!-- Desired framerate. True framerate may not reach this if set too high. -->
  <arg name="flip_method" default="0" />                    <!-- flip_method specified by number. -->

  <include file="$(find jetson_nano_csi_cam)/launch/jetson_csi_cam.launch">
    <arg name="sensor_id" value="0" />
    <arg name="cam_name" value="left" />
    <arg name="frame_id" value="/left_camera_link" />
    <arg name="sync_sink" value="$(arg sync_sink)" />
    <arg name="width" value="$(arg width)" />
    <arg name="height" value="$(arg height)" />
    <arg name="fps" value="$(arg fps)" />
    <arg name="flip_method" value="$(arg flip_method)" />
  </include>
  <include file="$(find jetson_nano_csi_cam)/launch/jetson_csi_cam.launch">
    <arg name="sensor_id" value="1" />
    <arg name="cam_name" value="right" />
    <arg name="frame_id" value="/right_camera_link" />
    <arg name="sync_sink" value="$(arg sync_sink)" />
    <arg name="width" value="$(arg width)" />
    <arg name="height" value="$(arg height)" />
    <arg name="fps" value="$(arg fps)" />
    <arg name="flip_method" value="$(arg flip_method)" />
  </include>
</launch>
